<div class="container">
    <th:block th:each="plant, iter: ${plants}" th:remove="tag">
        <div class="row" th:if="${iter.index % 3 == 0}">
            <div class="col-4" th:if="${plants.get(iter.index) != null}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${plants.get(iter.index).getName()}"></h5>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${plants.get(iter.index).getId()}"></h6>
                        <p class="card-text" th:text="${plants.get(iter.index).getDescription()}"></p>
                        <p class="card-text">
                            <label class="form-label">Min</label>
                            <input type="range" class="form-range" min="0" max="5">

                            <label class="form-label">Max</label>
                            <input type="range" class="form-range" min="0" max="5">
                        </p>
                        <a href="#" class="card-link">Edit</a>
                    </div>
                </div>
            </div>
            <div class="col-4" th:if="${plants.get(iter.index + 1) != null}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${plants.get(iter.index + 1).getName()}"></h5>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${plants.get(iter.index + 1).getId()}"></h6>
                        <p class="card-text" th:text="${plants.get(iter.index + 1).getDescription()}"></p>
                        <p class="card-text">
                            <label class="form-label">Min</label>
                            <input type="range" class="form-range" min="0" max="5">

                            <label class="form-label">Max</label>
                            <input type="range" class="form-range" min="0" max="5">
                        </p>
                        <a href="#" class="card-link">Edit</a>
                    </div>
                </div>
            </div>
            <div class="col-4" th:if="${plants.get(iter.index + 2) != null}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${plants.get(iter.index + 2).getName()}"></h5>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${plants.get(iter.index + 2).getId()}"></h6>
                        <p class="card-text" th:text="${plants.get(iter.index + 2).getDescription()}"></p>
                        <p class="card-text">
                            <label class="form-label">Min</label>
                            <input type="range" class="form-range" min="0" max="5">

                            <label class="form-label">Max</label>
                            <input type="range" class="form-range" min="0" max="5">
                        </p>
                        <a href="#" class="card-link">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</div>